* {
    padding: 0px;
    margin: 0px;
}

.mar {
    margin-left: 70px;
}

#font {
    font-size: 20px;
}

.color {
    font-size: 25px;
    margin-left: 10px;
    padding: 4px;
}

.paint {
    margin: 20px 20px 20px 150px;
}

.paint2 {
    margin: 15px 20px 15px 90px;
}

#weigth {
    padding-top: 9px;
    font-weight: bold;
    font-size: 23px;
}

.border {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    background-color: lightskyblue;
    margin: 30px;
}

.bg {

    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    background-color: gold;
    margin: 30px;
    
}
.center {
    margin: 35px;
}

.para {
    font-weight: 600;
    font-size: 45px;
    margin: 30px 0px 0px 30px;
}

.para1 {
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
}

.line {
    margin-left: 10px;
}

.flex {
    display: inline;
    float: right;
    margin: 20px;
}

.features {
    background-color: white;
    border-style: inherit;
    border: 10px 30px 30px 30px;
    margin: 30px;
    ;
}

.red {
   
    background-color: red;
    border: 0px;
    margin-right: 30px;
    border-radius: 30px;

}

.yellow {
    
    background-color: yellow;
    border: 0px 0px 0px 0px;
    margin-right: 30px;
    border-radius: 30px;
}

.green {
    
    background-color: greenyellow;
    border: 0px 0px 0px 0px;
    border-radius: 30px;
}

.dis {
    padding: 30px 50px 0px 20px;
    padding-right: 30px;
    font-weight: 500;
    font-size: 20px;
}

.me {
    margin: 0px 20px 0px 20px;

}

#center {
    text-align: center;

}

.progress {
    margin: 20px 20px 20px 30px;
    display: inline;
}
 h3{
   margin: 40px;
   display: inline;
} 
.me2{
  text-align: right;
}
.orange{
    background-color: wheat;
    border: 0px;
    margin-right: 30px;
    border-radius: 30px;
}
.gray{
    background-color: gray;
    border: 0px 0px 0px 0px;
    margin-right: 30px;
    border-radius: 30px;
}
.aqua{
    background-color:cadetblue;
    border: 0px 0px 0px 0px;
    border-radius: 30px;
}
.orange-img{
    border-radius: 20px 20px 0px 0px ;
    margin: 0px 0px 0px 0px ;
}

.gray-img{
    border-radius: 20px 20px 0px 0px ;
    margin: 0px 0px 0px 0px ;
}

.aqua-img{
    border-radius: 20px 20px 0px 0px ;
    margin: 0px 0px 0px 0px ;
}
.d-flex1{
    margin-left: 70px;
    margin-right: 50px;
}
.carousel-item{
    margin: 20px;
    display: inline;
    padding: 50px 50px 50px 50px;
}
.pay{
    padding: 20px 100px 20px 100px;
    /* border-style: solid; */
    border-radius: 20px 20px 20px 20px;
    background-color: lightskyblue;
    margin: 30px;
}
.map{
    margin:50px;
}

.copyrigth{
    background-color:black;
    color: white;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

